<div class="nc-auth-login">
  <!--用于自定义页面内容-->
  <div class="nc-auth-header"></div>
  <div class="nc-auth-center"></div>
  <div class="nc-auth-lefter"></div>
  <div class="nc-auth-righter"></div>
  <div class="nc-auth-footer"></div>
  <form #form="ngForm" (ngSubmit)="login()" aria-labelledby="title" class="nc-auth-form">
    <h1 class="nc-auth-title">{{title}}</h1>
    <!--用户名-->
    <div>
      <label for="input-username">用户名:</label>
      <input #username="ngModel"
             [(ngModel)]="user.username"
             [attr.aria-invalid]="username.invalid && username.touched ? true : null"
             [ngStyle]="{'border-color':username.dirty ? (username.invalid  ? '#ff3d71' : '#00997a') : ''}"
             [required]="true"
             id="input-username"
             name="username"
             placeholder="请输入用户名">
      <ng-container *ngIf="username.invalid && username.touched">
        <p> 用户名不能为空 </p>
      </ng-container>
    </div>
    <!--密码-->
    <div>
      <label for="input-password">密&emsp;码:</label>
      <input
        #password="ngModel"
        [(ngModel)]="user.password"
        [attr.aria-invalid]="password.invalid && password.touched ? true : null"
        [ngStyle]="{'border-color':password.dirty ? (password.invalid  ? '#ff3d71' : '#00997a') : ''}"
        [required]="true"
        id="input-password"
        name="password"
        placeholder="请输入密码"
        type="password">
      <ng-container *ngIf="password.invalid && password.touched ">
        <p> 密码不能为空 </p>
      </ng-container>
    </div>
    <!--二维码-->
    <div *ngIf="codeimg">
      <label for="input-vercode">验证码:</label>
      <input
        #vercode="ngModel"
        [(ngModel)]="user.vercode"
        [attr.aria-invalid]="vercode.invalid && vercode.touched ? true : null"
        [ngStyle]="{'border-color':vercode.dirty ? (vercode.invalid  ? '#ff3d71' : '#00997a') : ''}"
        [required]="true"
        id="input-vercode"
        name="vercode"
        placeholder="请输入验证码"
        type="vercode">
      <img (click)="getVercode()" *ngIf="codeimg" [src]="codeimg" alt="验证码">
      <ng-container *ngIf="vercode.invalid && vercode.touched ">
        <p> 验证码不能为空 </p>
      </ng-container>
    </div>
    <!--登录中、表单无效或者未改动时禁止点击-->
    <button [disabled]="submitting || form.invalid || !form.dirty"> 登录</button>
  </form>
</div>
