<!--操作栏-->
<ng-template #listTitle>
  <!--  标题-->
  <h3 *ngIf="!(options.create?.api||options.update?.api||options.delete?.api)" class="nc-page-title">{{options.title}}</h3>
  <nz-space nzSize="large">
    <!--    增加节点-->
    <ng-container *ngIf="options.create?.api">
      <i (click)="edit(false)" *nzSpaceItem nz-icon nzType="plus"></i>
    </ng-container>
    <!--    修改节点-->
    <ng-container *ngIf="options.update?.api&&data[key]">
      <i (click)="edit(true)" *nzSpaceItem nz-icon nzType="edit"></i>
    </ng-container>
    <!--    删除节点-->
    <ng-container *ngIf="options.delete?.api&&data[key]">
      <i (click)="delete()" *nzSpaceItem nz-icon nzType="delete"></i>
    </ng-container>
  </nz-space>
  <i (click)="rollback()" nz-icon nzType="rollback" class="ant-right" *ngIf="!options.selected&&data[key]"
     nz-tooltip nzTooltipTitle="返回全部"></i>
</ng-template>
<nz-card [nzTitle]="listTitle">
  <!--列表-->
  <nz-list nzSize="small" nzSplit="false" [nzLoading]="loading">
    <nz-list-item (click)="click(_data)" *ngFor="let _data of datas">
      <nz-list-item-meta-title>
        <nz-badge *ngIf="_data[key]==data[key]" nzStatus="processing"></nz-badge>
        <span [ngClass]="{'ant-info':_data[key]==data[key]}">{{ _data[options.nameKey] }}</span>
      </nz-list-item-meta-title>
    </nz-list-item>
  </nz-list>
</nz-card>
