.nc-page-nav {
  float: left;
  margin-right: 8px;
  height: 100%;
}

.nc-page-table {
  float: right;
}

::ng-deep .nc-page-title {
  font-size: 16px;
  margin: 0 0 0 10px;
  float: left;
}

::ng-deep .ant-carousel {
  .slick-dots-bottom {
    top: 39px;
    margin: 0;
    bottom: unset;
  }

  .slick-dots li {
    width: 25%;

    &.slick-active {
      width: 50%;
    }

    button {
      background-color: #0095ff !important;
    }
  }
}
