<ng-container *ngIf="navs">
  <!--一个导航-->
  <ng-container *ngIf="navs.length==1">
    <div class="nc-page-nav" [ngStyle]="{width:navs[0].width}" *ngFor="let nav of navs">
      <!--  导航树-->
      <nc-tree *ngIf="nav.type==='tree'" [options]="nav"></nc-tree>
      <!--  导航列表-->
      <nc-list *ngIf="nav.type==='list'" [options]="nav"></nc-list>
    </div>
  </ng-container>
  <!--多个导航-->
  <ng-container *ngIf="navs.length>1">
    <nz-carousel class="nc-page-nav" [ngStyle]="{width:navs[0].width}"
                 [nzEnableSwipe]="false" (nzBeforeChange)="navIndex=$event.to">
      <div nz-carousel-content *ngFor="let nav of navs; index as i">
        <!--  导航树-->
        <nc-tree *ngIf="nav.type==='tree' && navIndex===i" [options]="nav"></nc-tree>
        <!--  导航列表-->
        <nc-list *ngIf="nav.type==='list' && navIndex===i" [options]="nav"></nc-list>
      </div>
    </nz-carousel>
  </ng-container>
  <!--表格-->
  <nc-table class="ant-right" [options]="table" [tabOption]="tabs" [navOption]="navs[navIndex]" *ngIf="table"
            [ngStyle]="{width:navs?'calc(100% - 8px - ' + navs[0].width + ')':'100%'}"
  ></nc-table>
</ng-container>
<!--仅表格-->
<nc-table [options]="table" [tabOption]="tabs" *ngIf="table&&!navs"></nc-table>

<i nz-icon nzType="redo" class="nc-page-refresh" (click)="loadOption()"></i>
