:host{
  nz-row {
    padding-top: 24px;
    margin: -12px;
  }

  .col-divider:first-child {
    margin-top: -24px !important;
    padding-top: 0 !important;
  }

  nz-divider .tip-icon {
    position: absolute;
    line-height: 28px;
    left: 12px;
  }

  nz-form-label .tip-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  ::ng-deep{
    .ant-form-item{
      margin-bottom: 16px
    }
  }
}
