<nz-layout class="nc-layout" [ngStyle]="{'background-image':'url('+loginBg+')'}">
  <nz-header *ngIf="isAuthed">
    <div class="logo">
      <a href="/">
        <img [src]="logo" alt="logo">
        <h1 id="app-web-title">{{title}}</h1>
      </a>
    </div>
    <ul *ngIf="navs.length" nz-menu nzMode="horizontal">
      <li (click)="queryMenu(nav.link)" *ngFor="let nav of navs;index as i"
          [routerLink]="nav.link" nz-menu-item nzMatchRouter>
        {{nav.title}}
      </li>
    </ul>
    <div class="icon">
      <a [nzDropdownMenu]="menu" class="header-icon profile" nz-dropdown>
        {{username}}
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li (click)="logout()" nz-menu-item>退出登录</li>
          <li nz-menu-item>修改密码</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      *ngIf="menu.length"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]=""
      [nzWidth]="menuWidth"
      nzBreakpoint="md" [nzCollapsible]="collapsible">
      <ul [nzInlineCollapsed]="isCollapsed" [nzMode]="menuMode" nz-menu>
        <ng-container *ngFor="let _menu of menu">
          <li *ngIf="_menu.children" [nzIcon]="_menu.icon" [nzOpen]="menuOpen(_menu)" [nzTitle]="_menu.title" nz-submenu>
            <ul>
              <li *ngFor="let _child of _menu.children" nz-menu-item nzMatchRouter>
                <a [routerLink]="[_menu.link,_child.link]">{{_child.title}}</a>
              </li>
            </ul>
          </li>
          <li *ngIf="!_menu.children" [routerLink]="[_menu.link]" nz-menu-item nzMatchRouter>
            <i [ngStyle]="{'font-size': isCollapsed?'24px':'16px'}" [nzType]="_menu.icon" nz-icon></i>
            <a *ngIf="!isCollapsed" style="padding-left: 10px">{{_menu.title}}</a>
          </li>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
