<nz-layout class="nc-layout" [ngStyle]="{'background-image':'url('+background+')'}">
  <nz-header *ngIf="isAuthed">
    <div class="logo">
      <a href="/">
        <img [src]="logo" alt="logo">
        <h1 id="app-header-title">{{title}}</h1>
      </a>
    </div>
    <ul *ngIf="navs.length" nz-menu nzMode="horizontal">
      <li (click)="queryMenu(nav.link)" *ngFor="let nav of navs;index as i"
          [routerLink]="nav.link" nz-menu-item nzMatchRouter>
        {{nav.title}}
      </li>
    </ul>
    <div class="icon">
      <a [nzDropdownMenu]="menu" class="header-icon profile" nz-dropdown>
        {{username}}
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li (click)="logout()" nz-menu-item>退出登录</li>
          <li nz-menu-item (click)="pwding=true">修改密码</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      *ngIf="menu.length"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]=""
      [nzWidth]="menuWidth"
      nzBreakpoint="md" [nzCollapsible]="collapsible">
      <ul [nzInlineCollapsed]="isCollapsed" [nzMode]="menuMode" nz-menu>
        <ng-container *ngFor="let _menu of menu">
          <li *ngIf="_menu.children" [nzIcon]="_menu.icon" [nzOpen]="menuOpen(_menu)" [nzTitle]="_menu.title" nz-submenu>
            <ul>
              <li *ngFor="let _child of _menu.children" nz-menu-item nzMatchRouter>
                <a [routerLink]="[_menu.link,_child.link]">{{_child.title}}</a>
              </li>
            </ul>
          </li>
          <li *ngIf="!_menu.children" [routerLink]="[_menu.link]" nz-menu-item nzMatchRouter>
            <i [ngStyle]="{'font-size': isCollapsed?'24px':'16px'}" [nzType]="_menu.icon" nz-icon></i>
            <a *ngIf="!isCollapsed" style="padding-left: 10px">{{_menu.title}}</a>
          </li>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
<!--修改密码窗口-->
<nz-modal (nzOnCancel)="pwding=false" [nzClosable]="false" [nzKeyboard]="false" [nzFooter]="null" [nzVisible]="pwding"
          nzTitle="修改密码" nzWidth="360px" [nzBodyStyle]="{'padding-bottom':'56px'}" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <form #form="ngForm" class="text-3" nz-form>
      <nz-form-item>
        <nz-form-label nzRequired>
          旧密码
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-input-group [nzSuffix]="suffixoldPwd">
            <input nz-input [(ngModel)]="pwdData.oldPwd" name="oldPwd"
                   [type]="pwdEye.oldPwd ? 'text' : 'password'"
                   [autocomplete]="pwdEye.oldPwd ? 'off' : 'new-password'" required
            />
            <ng-template #suffixoldPwd>
              <i (click)="pwdEye.oldPwd = !pwdEye.oldPwd" [nzType]="pwdEye.oldPwd ? 'eye-invisible' : 'eye'" nz-icon></i>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>
          新密码
        </nz-form-label>
        <nz-form-control [nzErrorTip]="formErrorTpl" nzHasFeedback>
          <nz-input-group [nzSuffix]="suffixnewPwd">
            <input nz-input [(ngModel)]="pwdData.newPwd" name="newPwd"
                   [type]="pwdEye.newPwd ? 'text' : 'password'"
                   [autocomplete]="pwdEye.newPwd ? 'off' : 'new-password'" [pattern]="pwdReg.reg" required
            />
            <ng-template #suffixnewPwd>
              <i (click)="pwdEye.newPwd = !pwdEye.newPwd" [nzType]="pwdEye.newPwd ? 'eye-invisible' : 'eye'" nz-icon></i>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!--        错误提示-->
      <ng-template #formErrorTpl>
        {{pwdReg.tip}}
      </ng-template>
      <!--  保存或取消-->
      <div class="ant-drawer-footer">
        <span class="ant-left ant-red" style="line-height:32px" *ngIf="isRawPwd">请修改默认密码</span>
        <nz-button-group>
          <button nz-button (click)="pwding=false" *ngIf="!isRawPwd">取消</button>
          <!--  无效、保存中时禁止点击-->
          <button [disabled]="form.invalid || saving" nz-button nzType="primary" (click)="updatePwd()">
            保存
          </button>
        </nz-button-group>
      </div>
    </form>
  </ng-container>
</nz-modal>
