<!--表格工具栏-->
<ng-template #dataTitleTpl>
  <!--  标题-->
  <h3 class="nc-page-title" *ngIf="!tabOption">{{options.title}}</h3>
  <!--  多标签-->
  <nz-space class="ant-left" *ngIf="tabOption">
    <ng-container *ngFor="let _tab of tabOption">
      <button *nzSpaceItem nz-button [nzType]="_tab==tab?'primary':'default'" (click)="switchTab(_tab)"
      >{{_tab.title}}</button>
    </ng-container>
  </nz-space>
  <nz-space>
    <!--    上传-->
    <ng-container *ngIf="options.upload?.api">
      <button *nzSpaceItem nz-button nz-tooltip [nzTooltipTitle]="options.upload.tip">
        <i nz-icon nzType="cloud-upload"></i>
      </button>
    </ng-container>
    <!--    下载-->
    <ng-container *ngIf="options.download?.api">
      <button *nzSpaceItem nz-button nz-tooltip [nzTooltipTitle]="options.download.tip">
        <i nz-icon nzType="cloud-download"></i>
      </button>
    </ng-container>
    <!--    模糊搜索-->
    <ng-container *ngIf="searches.length">
      <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="suffixButton">
        <input [(ngModel)]="body.fuzzy.keyword" nz-input type="text" placeholder="模糊搜索"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzSearch (click)="query()">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </ng-container>
    <!--    刷新页面-->
    <button *nzSpaceItem nz-button (click)="reloadPage()">
      <i nz-icon nzType="redo" nz-tooltip nzTooltipTitle="重新加载页面"></i>
    </button>
    <!--    增加按钮-->
    <ng-container *ngIf="options.create?.api">
      <button *nzSpaceItem nz-button (click)="edit({})">
        <i nz-icon nzType="plus"></i>
      </button>
    </ng-container>
  </nz-space>
</ng-template>
<!--总条数-->
<ng-template #totalTpl let-range="range" let-total>
  总{{ total }}条&emsp;当前{{ range[0] }}-{{ range[1] }}
</ng-template>
<!--  表格数据-->
<nz-table #dataTable
          [nzData]="datas"
          [nzTitle]="dataTitleTpl"
          [nzSimple]="options.view.simple"
          [nzFrontPagination]="options.view.frontPagination"
          [nzTotal]="total"
          [nzShowTotal]="totalTpl"
          [nzPageSize]="options.view.pageSize"
          [nzPageIndex]="pageIndex"
          [nzScroll]="{y:height}"
          [nzPageSizeOptions]="[10,20,50,100,500]"
          (nzQueryParams)="query($event)"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
  <tr>
    <!--    选择框-->
    <th *ngIf="options.view.checkable"
        [nzShowCheckbox]="options.view.multiple"
        [(nzChecked)]="allChecked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <!--      显示字段表头-->
    <ng-container *ngFor="let column of options.view.columns">
      <!--      多标签显示、过滤、排序-->
      <th *ngIf="showColumn(column.tabIndex)"
          [nzColumnKey]="column.key"
          [nzShowFilter]="column.filters"
          [nzFilters]="column.filters"
          [nzFilterFn]="true"
          [nzShowSort]="column.sort"
          [nzSortFn]="true"
      >
        {{column.label}}</th>
    </ng-container>
    <!--      操作-->
    <ng-container *ngFor="let action of [options.update,options.delete]">
      <th nzWidth="50px" *ngIf="action">{{action.name}}</th>
    </ng-container>
  </tr>
    </thead>
  <tbody>
  <tr *ngFor="let data of dataTable['data']">
    <!--      选择框-->
    <td [nzChecked]="isChecked(data)" *ngIf="options.view.checkable"
        (nzCheckedChange)="onItemChecked(data, $event)"></td>
    <!--      显示字段数据-->
    <ng-container *ngFor="let column of  options.view.columns">
      <!--      多标签显示-->
      <ng-container *ngIf="showColumn(column.tabIndex)">
        <!--        普通列-->
        <td *ngIf="column.type==='default'">{{formatData(data, column)}}</td>
        <!--      开关切换-->
        <td *ngIf="column.type==='switch'">
          <nz-switch [name]="column.key"
                     [ngModel]="data[column.key]==column.switch.on"
                     [nzCheckedChildren]="column.switch.labelOn"
                     [nzUnCheckedChildren]="column.switch.labelOff"
                     (ngModelChange)="switch($event,data,column)"></nz-switch>
        </td>
      </ng-container>
    </ng-container>
    <!--      操作按钮-->
    <ng-container *ngFor="let action of [options.update,options.delete]">
      <td *ngIf="action?.api">
        <!--          修改-->
          <ng-container *ngIf="action===options.update">
            <i nz-icon nzType="edit" (click)="edit(data)"></i>
          </ng-container>
          <!--          删除-->
          <ng-container *ngIf="action===options.delete">
            <i nz-icon nzType="delete" (click)="delete(data)"></i>
          </ng-container>
        </td>
      </ng-container>
    </tr>
    </tbody>
</nz-table>
