<!--表头工具栏-->
<ng-template #titleTpl>
  <!--  标题-->
  <h3 *ngIf="!tabOption" class="nc-page-title">{{options.title}}</h3>
  <!--  多标签-->
  <nz-space *ngIf="tabOption" class="ant-left">
    <ng-container *ngFor="let _tab of tabOption">
      <button (click)="switchTab(_tab)" *nzSpaceItem [nzType]="_tab==tab?'primary':'default'" nz-button
      >{{_tab.title}}</button>
    </ng-container>
  </nz-space>
  <nz-space>
    <!--    上传-->
    <ng-container *ngIf="options.upload?.api">
      <button *nzSpaceItem [nzTooltipTitle]="options.upload.tip" nz-button nz-tooltip>
        <i nz-icon nzType="cloud-upload"></i>
      </button>
    </ng-container>
    <!--    下载-->
    <ng-container *ngIf="options.download?.api">
      <button *nzSpaceItem [nzTooltipTitle]="options.download.tip" nz-button nz-tooltip>
        <i nz-icon nzType="cloud-download"></i>
      </button>
    </ng-container>
    <!--    时间范围过滤-->
    <ng-container *ngIf="options.timeKey">
      <nz-range-picker *nzSpaceItem nzShowTime ngModel
                       [nzDisabledDate]="disabledDate" nzFormat="yyyy-MM-dd HH:mm"
                       [nzRanges]="timeRanges" (ngModelChange)="timeChange($event)"
      ></nz-range-picker>
    </ng-container>
    <!--    模糊搜索-->
    <ng-container *ngIf="searchFields.length">
      <nz-input-group *nzSpaceItem [nzAddOnBefore]="prefixMenu" [nzAddOnAfter]="suffixButton" nzSearch>
        <input type="text" [(ngModel)]="body.fuzzy.keyword" nz-input placeholder="全局模糊搜索"/>
      </nz-input-group>
      <!--      搜索字段-->
      <ng-template #prefixMenu>
        <a nz-dropdown [nzDropdownMenu]="menu" [nzClickHide]="false" nzPlacement="bottomCenter"
           nz-tooltip nzTooltipTitle="设置搜索字段">
          <i nz-icon nzType="setting"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngFor="let field of searchFields" [ngClass]="{'ant-info':field.search}"
                (click)="field.search=!field.search">{{field.label}} </li>
          </ul>
        </nz-dropdown-menu>
      </ng-template>
      <!--      搜索按钮-->
      <ng-template #suffixButton>
        <button (click)="query()" nz-button nzSearch>
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </ng-container>
    <!--    刷新页面-->
    <button (click)="reloadPage()" *nzSpaceItem nz-button>
      <i nz-icon nz-tooltip nzTooltipTitle="重新加载页面" nzType="redo"></i>
    </button>
    <!--    操作按钮扩展-->
    <ng-container *ngFor="let action of options.actions">
      <button *nzSpaceItem nz-button>
        <i [nzTooltipTitle]="action.tip" [nzType]="action.icon" *ngIf="!action.confirm"
           nz-icon nz-tooltip (click)="actionClick(action.click)"></i>
        <i [nzTooltipTitle]="action.tip" [nzType]="action.icon" *ngIf="action.confirm"
           nz-icon nz-tooltip nz-popconfirm [nzPopconfirmTitle]="action.confirm" (nzOnConfirm)="actionClick(action.click)"></i>
      </button>
    </ng-container>
    <!--    拖放排序按钮-->
    <ng-container *ngIf="options.dragSort?.api">
      <button (click)="sort()" *nzSpaceItem nz-button
              nz-tooltip [nzTooltipTitle]="!options.dragable?'点击拖曳排序':'保存排序结果'">
        <i nz-icon nzType="save" nzTheme="outline" *ngIf="options.dragable"></i>
        <i nz-icon nzType="sort-ascending" nzTheme="outline" *ngIf="!options.dragable"></i>

      </button>
    </ng-container>
    <!--    增加按钮-->
    <ng-container *ngIf="options.create?.api">
      <button (click)="edit({})" *nzSpaceItem nz-button>
        <i nz-icon nzType="plus"></i>
      </button>
    </ng-container>
  </nz-space>
</ng-template>
<!--总条数-->
<ng-template #totalTpl let-range="range" let-total>
  总{{ total }}条&emsp;当前{{ range[0] }}-{{ range[1] }}
</ng-template>
<!--  表格数据-->
<nz-table #dataTable
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
          (nzQueryParams)="query($event)"
          [(nzPageIndex)]="pageIndex"
          [nzData]="datas"
          [nzFrontPagination]="options.view.frontPagination"
          [nzPageSizeOptions]="[10,20,50,100,500]"
          [nzPageSize]="options.view.pageSize"
          [nzScroll]="{y:height}"
          [nzShowTotal]="totalTpl"
          [nzSimple]="options.view.simple"
          [nzTitle]="titleTpl"
          [nzTotal]="total"
          [nzLoading]="loading"
>
  <thead>
  <tr>
    <!--    选择框-->
    <th (nzCheckedChange)="onAllChecked($event)"
        *ngIf="options.view.checkable"
        [(nzChecked)]="allChecked"
        [nzIndeterminate]="indeterminate"
        [nzShowCheckbox]="options.view.multiple"
    ></th>
    <!--      显示字段表头-->
    <ng-container *ngFor="let column of options.view.columns">
      <!--      多标签显示、过滤、排序-->
      <th *ngIf="isCureentTab(column.tabIndex)"
          [nzWidth]="column.width"
          [nzColumnKey]="column.key"
          [nzFilterFn]="true"
          [nzFilters]="column.filters"
          [nzShowFilter]="column.filters"
          [nzShowSort]="column.sort"
          [nzSortFn]="true"
      >
        {{column.label}}</th>
    </ng-container>
    <!--      操作-->
    <ng-container *ngFor="let action of [options.update,options.delete]">
      <th *ngIf="action" nzWidth="50px">{{action.name}}</th>
    </ng-container>
  </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
  <tr *ngFor="let data of datas" cdkDrag [cdkDragDisabled]="!options.dragable">
    <!--      选择框-->
    <td (nzCheckedChange)="onItemChecked(data, $event)" *ngIf="options.view.checkable"
        [nzChecked]="isChecked(data)"></td>
    <!--      显示字段数据-->
    <ng-container *ngFor="let column of  options.view.columns">
      <!--      多标签显示-->
      <ng-container *ngIf="isCureentTab(column.tabIndex)">
        <!--        普通列-->
        <td *ngIf="column.type==='default'">{{formatData(data[column.key], column)}}</td>
        <!--      开关切换-->
        <td *ngIf="column.type==='switch'">
          <nz-switch (ngModelChange)="switch($event,data,column)"
                     [name]="column.key"
                     [ngModel]="data[column.key]==column.switch.on"
                     [nzCheckedChildren]="column.switch.labelOn"
                     [nzUnCheckedChildren]="column.switch.labelOff"></nz-switch>
        </td>
      </ng-container>
    </ng-container>
    <!--      操作按钮-->
    <ng-container *ngFor="let action of [options.update,options.delete]">
      <td *ngIf="action?.api">
        <!--          修改-->
        <ng-container *ngIf="action===options.update">
          <i (click)="edit(data)" nz-icon nzType="edit" *ngIf="!data[key]?.toString().startsWith('-')"></i>
          <i nz-icon nzType="edit" *ngIf="data[key]?.toString().startsWith('-')"
             class="ant-disabled" nz-tooltip nzTooltipTitle="内置数据不可修改"></i>
        </ng-container>
        <!--          删除-->
        <ng-container *ngIf="action===options.delete">
          <i (click)="delete(data)" nz-icon nzType="delete" *ngIf="!data[key]?.toString().startsWith('-')"></i>
          <i nz-icon nzType="delete" *ngIf="data[key]?.toString().startsWith('-')"
             class="ant-disabled" nz-tooltip nzTooltipTitle="内置数据不可删除"></i>
        </ng-container>
      </td>
    </ng-container>
  </tr>
  </tbody>
</nz-table>
