:host {
  ::ng-deep {
    .ant-table-header, .ant-table-body {
      width: 100%;
    }

    nz-range-picker {
      width: 330px;
    }
  }
}

::ng-deep {
  .ant-dropdown-menu-item {
    background-color: transparent !important;
  }
}
