<nz-card style="height:auto">
  <nz-descriptions nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="项目名称">亿阳安全接入控制系统</nz-descriptions-item>
    <nz-descriptions-item nzTitle="产品名称">亿阳安全接入控制系统</nz-descriptions-item>
    <nz-descriptions-item nzTitle="产品型号">TC1000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="产品ID">01-51-000000-210901-00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="版本">V1.0</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备份与恢复">在这里进行数据备份和恢复</nz-descriptions-item>
  </nz-descriptions>
</nz-card>
